form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    gap: 16px;

    h1 {
        text-align: center;
    }
      
      .password-icon {
        border: none;
        cursor: pointer;
        background-color: transparent;
        margin-right: 8px;
        padding: 4px;
      }

      .submit-button {
        background-color: #db4444;
        color: #FFF;
        padding: 8px 16px;
        border: none;
        cursor: pointer;
        transition-duration: 0.25s;
        font-size: 16px;

        &:hover {
            opacity: 0.5;
        }
      }
}

@media ( max-width: 750px ) {
    form {
        width: 100%;
    }
}