<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" required formControlName="firstCtrl" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      formControlName="secondCtrl"
      (blur)="updateErrorMessage()"
      required
    />
    @if (email.invalid) {
    <mat-error>{{ errorMessage }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput required type="password" formControlName="thirdCtrl" />
  </mat-form-field>
  <mat-form-field>
    <mat-select
      class="select"
      placeholder="Role"
      required
      formControlName="fourthCtrl"
    >
      @for (option of options; track option) {
      <mat-option [value]="option"
        ><span>{{ option }}</span></mat-option
      >
      }
    </mat-select>
  </mat-form-field>
  @if(!userInfo.role) {
  <mat-form-field>
    <mat-label>Address</mat-label>
    <input
      matInput
      placeholder="Address"
      required
      formControlName="fifthCtrl"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput placeholder="Phone" required formControlName="sixthCtrl" />
  </mat-form-field>
  }
</form>
