<header>
  <nav>
    <img id="logo" src="../../../../assets/images/light-logo.svg" alt="Logo" />
    <input
      type="search"
      placeholder="Search"
      aria-label="Number"
      class="main-search"
      matInput
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of options; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
    <div class="interactions">
      <ul class="nav-list">
        @for( navLink of navLinks; track navLink ) {
        <li>
          <a [routerLink]="navLink">{{ navLink | titlecase }}</a>
        </li>
        } @for( navButton of navButtons; track navButton; ) {
        <li>
          <button class="{{ navButton }}" (click)="openDialog($index)">
            <span>
              {{ navButton | titlecase }}
            </span>
          </button>
        </li>
        }
      </ul>
      <div class="icons">
        <button mat-icon-button [matMenuTriggerFor]="wishMenu">
          <img src="../../../../assets/icons/heart.svg" alt="WishList" />
        </button>
        <button mat-icon-button [matMenuTriggerFor]="cartMenu">
          <img src="../../../../assets/icons/cart.svg" alt="Cart" />
        </button>
        <button mat-icon-button (click)="expand()" class="menuIcon">
          <img src="../../../../assets/icons/menu.svg" alt="Menu" />
        </button>
      </div>
      <mat-menu #wishMenu="matMenu" xPosition="before">
        <mat-nav-list>
          <div class="wishList">
            <p mat-list-item class="menuMessage">
              <span>Login Required...</span>
            </p>
            <button mat-list-item class="menuButtons">
              <span>Login</span>
            </button>
          </div>
        </mat-nav-list>
      </mat-menu>
      <mat-menu #cartMenu="matMenu" xPosition="before">
        <mat-nav-list>
          <div class="cartList">
            <p mat-list-item class="menuMessage">
              <span>Login Required...</span>
            </p>
            <button mat-list-item class="menuButtons">
              <span>Login</span>
            </button>
          </div>
        </mat-nav-list>
      </mat-menu>
    </div>
  </nav>
  <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
      <mat-nav-list>
        <div class="search-container">
          <input
            type="search"
            class="full-width"
            *ngIf="isExpanded || isShowing"
            mat-list-item
            placeholder="Search"
          />
        </div>
        @for(navLink of navLinks; track navLink) {
        <a
          class="full-width"
          *ngIf="isExpanded || isShowing"
          mat-list-item
          href="#"
          ><span>{{ navLink | titlecase }}</span></a
        >
        } @for(navButton of navButtons; track navButton) {
        <a
          class="full-width"
          *ngIf="isExpanded || isShowing"
          mat-list-item
          href="#"
        >
          <span>
            {{ navButton | titlecase }}
          </span></a
        >
        }
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</header>
