<form (submit)="onSubmit($event)">
  <h1>
    <span>Register</span>
  </h1>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Name"
      required
      (blur)="updateErrorMessages()"
      [formControl]="name"
    />
    @if (name.invalid) {
    <mat-error>{{ errorMessages[0] }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" [formControl]="email" required />
    @if (email.invalid) {
    <mat-error>{{ errorMessages[1] }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput required type="password" [formControl]="password" />
    @if (password.invalid) {
    <mat-error>{{ errorMessages[2] }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-select
      class="select"
      placeholder="Role"
      required
      [formControl]="option"
    >
      @for (option of options; track option) {
      <mat-option [value]="$index"
        ><span>{{ option | titlecase }}</span></mat-option
      >
      }
    </mat-select>
    @if (option.invalid) {
    <mat-error>{{ errorMessages[3] }}</mat-error>
    }
  </mat-form-field>
  <mat-divider />
  <button
    mat-button
    class="submit-button"
    [disabled]="
      errorMessages[0].length ||
      errorMessages[1].length ||
      errorMessages[2].length ||
      errorMessages[3].length
    "
    [ngClass]="{ disabled: submit.disabled }"
    #submit
    class="submit-button"
  >
    Submit
  </button>
</form>
