<form>
  <h1>
    <span>Register</span>
  </h1>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      [formControl]="email"
      (blur)="updateErrorMessage()"
      required
    />
    @if (email.invalid) {
    <mat-error>{{ errorMessage }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput required [type]="hide ? 'password' : 'text'" />
    <button
      mat-icon-button
      class="password-icon"
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select class="select" placeholder="Role" required>
      @for (option of options; track option) {
      <mat-option [value]="option"
        ><span>{{ option }}</span></mat-option
      >
      }
    </mat-select>
  </mat-form-field>
  <mat-divider />
  <button mat-button class="submit-button">Submit</button>
</form>
