<div class="scroll-container">
  @if( ELEMENT_DATA.length ) {
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let element">
        <div class="product-container">
          <img [src]="element.images[0]" [alt]="element.name" />
          <p>
            {{ element.name }}
          </p>
        </div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>State</th>
      <td mat-cell *matCellDef="let element">
        {{ element.state }}
      </td>
    </ng-container>

    <ng-container matColumnDef="cart">
      <th mat-header-cell *matHeaderCellDef>{{ "" }}</th>
      <td mat-cell *matCellDef="let element">
        <button class="cart-button" (click)="onMoveToCart(element)">
          Move To Cart
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  } @else {
  <div
    style="
      height: calc(100vh - 320px);
      display: grid;
      place-items: center;
      text-align: center;
      font-size: 24px;
    "
  >
    <div>
      <h1>
        <span>
          {{ "Your wishlist is still empty!?" }}
        </span>
      </h1>
      <button class="cart-button" routerLink="../products">
        Browse Products
      </button>
    </div>
  </div>
  }
</div>
