<footer>
  <div class="container">
    <div class="content">
      <img src="../../../assets/images/dark-logo.svg" alt="Logo" />
      <ul class="nav-list">
        <li>Pages</li>
        <mat-divider class="divider" />
        @for( navLink of navLinks; track navLink ) {
        <li>
          <a [routerLink]="navLink">{{ navLink | titlecase }}</a>
        </li>
        }
      </ul>
      <ul>
        <li>Account</li>
        <mat-divider class="divider" />
        @if(loggedIn) {
        <li>
          <button>
            <a routerLink="account">Profile</a>
          </button>
        </li>
        <li>
          <button (click)="logout()">Logout</button>
        </li>
        } @else { @for( navButton of navButtons; track navButton; ) {
        <li>
          <button (click)="openDialog($index)">
            {{ navButton | titlecase }}
          </button>
        </li>
        } }
      </ul>
      <input
        type="search"
        placeholder="Search"
        aria-label="Number"
        class="main-search"
        (input)="onSearchChange(productNameSearch.value)"
        (keydown.enter)="onSearchSubmit(productNameSearch.value)"
        #productNameSearch
        matInput
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of options; track option;) {
        <mat-option [value]="option" *ngIf="$index < 3">
          <span>{{ option }}</span>
        </mat-option>
        } @empty {
        <mat-option
          ><span>{{
            searching ? "Loading..." : "Not Found..."
          }}</span></mat-option
        >
        }
      </mat-autocomplete>
    </div>
    <mat-divider class="divider" />
    <div class="copyrights">
      <p>Copyright - Zeyad Mohamed</p>
    </div>
  </div>
</footer>
