<section class="home">
  <div class="container">
    <app-carousel />
    <mat-divider />
    <h2><span>Recently Added</span></h2>
    <div class="cards-container">
      @for(card of newestCards; track card._id) {
      <app-product-card [details]="card"></app-product-card>
      } @empty {
      <app-product-card [details]="null"></app-product-card>
      <app-product-card [details]="null"></app-product-card>
      <app-product-card [details]="null"></app-product-card>
      }
    </div>
    <mat-divider />
    <h2><span>Most Loved</span></h2>
    <div class="cards-container">
      @for(card of mostLovedCards; track card._id) {
      <app-product-card [details]="card"></app-product-card>
      } @empty {
      <app-product-card [details]="null"></app-product-card>
      <app-product-card [details]="null"></app-product-card>
      <app-product-card [details]="null"></app-product-card>
      }
    </div>
  </div>
</section>
