.home {
    width: 100%;
    min-height: calc(100vh - 120px);

    .container {
        min-height: calc(100vh - 120px);
        width: 100%;
        padding: 144px 40px 24px 300px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .cards-container {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            justify-content: space-between;
            gap: 32px;
        }
    }
}