<section class="products">
  <div class="container">
    <div class="input-container">
      <input
        type="search"
        [placeholder]="selectedType.concat(' Name')"
        class="search"
        matInput
        (input)="onSearchChange(productNameSearch.value)"
        #productNameSearch
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of options; track option;) {
        <mat-option [value]="option" *ngIf="$index < 3">
          <span>{{ option }}</span>
        </mat-option>
        }
      </mat-autocomplete>
      <mat-select [value]="types[0]" class="select" [(value)]="selectedType">
        @for (type of types; track type) {
        <mat-option [value]="type"
          ><span>{{ type }}</span></mat-option
        >
        }
      </mat-select>
    </div>
    <div class="cards-container">
      @for(card of productCards; track card._id) {
      <app-product-card [details]="card"></app-product-card>
      } @empty {
      <div
        style="
          height: 100vh;
          display: grid;
          place-items: center;
          text-align: center;
        "
      ></div>
      }
    </div>
    <div class="paginator-container">
      <mat-paginator
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</section>
