
  .category-sidenav {
     user-select: none;
    position: fixed;
    top: 120px;
    left: 0;
  }
  .category-full-width {
    width: 100%;
  }
  .category-menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .category-menu-button.rotated {
    transform: rotate(180deg);
  }
  .category-submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .category-submenu.expanded {
    transform: scaleY(1);
  }
  .catIcon.categoriesIcon {
    display: none;
  }
  .parent {
    width: 100%;
  }
  .navItemClass {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }