<mat-sidenav
  #categoryNav
  class="category-sidenav hide"
  [class.hide]="routerPage()"
  mode="side"
  opened="true"
  (mouseenter)="mouseenter()"
  (mouseleave)="mouseleave()"
>
  <mat-nav-list>
    <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
      <div class="navItemClass">
        <span class="category-full-width" *ngIf="isExpanded || isShowing"
          >Categories</span
        >
        <mat-icon
          class="category-menu-button"
          [ngClass]="{ rotated: showSubmenu }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
      </div>
      <img
        class="category-menu-button catIcon"
        mat-list-icon
        src="../../../../assets/icons/categories.svg"
        [ngClass]="{ categoriesIcon: isShowing }"
        *ngIf="!isExpanded"
        alt="Categories"
      />
    </mat-list-item>
    <div
      class="category-submenu"
      [ngClass]="{ expanded: showSubmenu }"
      *ngIf="isShowing || isExpanded"
    >
      <a mat-list-item href="..."><span>Category One</span></a>
      <a mat-list-item href="..."><span>Category Two</span></a>
      <a mat-list-item href="..."><span>Category Three</span></a>
      <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
        <div class="navItemClass">
          <span class="category-full-width" *ngIf="isExpanded || isShowing"
            >Nested Categories</span
          >
          <mat-icon
            class="category-menu-button"
            [ngClass]="{ rotated: showSubSubMenu }"
            *ngIf="isExpanded || isShowing"
            >expand_more</mat-icon
          >
        </div>
      </mat-list-item>
      <div
        class="category-submenu"
        [ngClass]="{ expanded: showSubSubMenu }"
        *ngIf="isShowing || isExpanded"
      >
        <mat-list-item><span>SubCategory One</span></mat-list-item>
        <mat-list-item><span>SubCategory Two</span></mat-list-item>
        <mat-list-item><span>SubCategory Three</span></mat-list-item>
      </div>
    </div>
  </mat-nav-list>
</mat-sidenav>
