<mat-sidenav
  #categoryNav
  class="category-sidenav hide"
  [class.hide]="routerPage()"
  mode="push"
  opened="true"
  (mouseenter)="mouseenter()"
  (mouseleave)="mouseleave()"
>
  <mat-nav-list>
    @for(category of categories; track category._id) {
    @if(!category.supcategory) {
    <mat-list-item
      (click)="showSubmenu[$index] = !showSubmenu[$index]"
      class="parent"
    >
      <div class="navItemClass">
        <span class="category-full-width" *ngIf="isExpanded || isShowing">{{
          category.name | titlecase
        }}</span>
        @if(category.subcategories && category.subcategories.length) {
        <mat-icon
          class="category-menu-button"
          [ngClass]="{ rotated: showSubmenu[$index] }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        >
        }
      </div>
      <img
        class="category-menu-button catIcon"
        mat-list-icon
        src="../../../../assets/icons/categories.svg"
        [ngClass]="{ categoriesIcon: isShowing }"
        *ngIf="!isExpanded && $first"
        alt="Categories"
      />
    </mat-list-item>
    @if(category.subcategories && category.subcategories.length) {
    <div
      class="category-submenu"
      [ngClass]="{ expanded: showSubmenu[$index] }"
      *ngIf="isShowing || isExpanded"
    >
      @for(subcategory of categories; track subcategory._id) { @if(
      subcategory.supcategory && subcategory.supcategory === category._id ) {
      <mat-list-item
        (click)="showSubSubMenu[$index] = !showSubSubMenu[$index]"
        class="parent"
      >
        <div class="navItemClass">
          <span class="category-full-width" *ngIf="isExpanded || isShowing">{{
            subcategory.name | titlecase
          }}</span>
          @if ( subcategory.subcategories && subcategory.subcategories.length )
          {
          <mat-icon
            class="category-menu-button"
            [ngClass]="{ rotated: showSubSubMenu[$index] }"
            *ngIf="isExpanded || isShowing"
            >expand_more</mat-icon
          >
          }
        </div>
      </mat-list-item>
      @if ( subcategory.subcategories && subcategory.subcategories.length ) {
      <div
        class="category-submenu"
        [ngClass]="{ expanded: showSubSubMenu[$index] }"
        *ngIf="isShowing || isExpanded"
      >
        @for( subsubcategory of categories; track subsubcategory._id ) {
        @if(subsubcategory.supcategory && subsubcategory.supcategory ===
        subcategory._id) {
        <mat-list-item
          ><span>{{ subsubcategory.name | titlecase }}</span></mat-list-item
        >
        } }
      </div>
      } } }
    </div>
    } } }
  </mat-nav-list>
</mat-sidenav>
