<mat-accordion>
  @if (ELEMENT_DATA.length) {
  <mat-expansion-panel hideToggle disabled>
    <mat-expansion-panel-header>
      <mat-panel-title
        ><span style="color: black"> Image </span></mat-panel-title
      >
      <mat-panel-description
        ><span style="color: black"> Name </span></mat-panel-description
      >
      <mat-panel-description
        ><span style="color: black"> Price </span></mat-panel-description
      >
      <mat-panel-description
        ><span style="color: black"> Quantity </span></mat-panel-description
      >
      <mat-panel-description
        ><span style="color: black"> {{ "" }} </span></mat-panel-description
      >
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  } @for( element of ELEMENT_DATA; track element.product.name ) {
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img
          src="{{ element.product.image }}"
          alt="{{ element.product.name }}"
          style="height: 32px; aspect-ratio: 3 / 2"
        />
      </mat-panel-title>
      <mat-panel-description>
        <span>
          {{ element.product.name }}
        </span>
      </mat-panel-description>
      <mat-panel-description>
        <span>
          {{ element.price | currency }}
        </span>
      </mat-panel-description>
      <mat-panel-description>
        <span>
          {{ element.quantity }}
        </span>
      </mat-panel-description>
      <mat-panel-description>
        <button
          mat-button
          (click)="deleteProduct(element.id, $index)"
          class="submit-button"
          style="font-size: 14px; font-weight: 500; padding: 4px 8px"
        >
          <span> Remove </span>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form
      (submit)="updateProduct(element.id, $index)"
      [formGroup]="updateFormGroups[$index]"
    >
      <h1>
        <span>Update Product</span>
      </h1>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Name"
          required
          formControlName="firstCtrl"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input
          matInput
          type="number"
          placeholder="Price"
          required
          formControlName="secondCtrl"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input
          matInput
          number
          placeholder="Quantity"
          required
          formControlName="thirdCtrl"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input
          matInput
          number
          placeholder="Description"
          required
          formControlName="fifthCtrl"
        />
      </mat-form-field>
      <mat-divider />
      <button
        mat-button
        class="submit-button"
        #update
        [ngClass]="{ disabled: update.disabled }"
        [disabled]="
          this.updateFormGroups[$index].controls.firstCtrl.errors ||
          this.updateFormGroups[$index].controls.secondCtrl.errors ||
          this.updateFormGroups[$index].controls.thirdCtrl.errors ||
          this.updateFormGroups[$index].controls.fifthCtrl.errors
        "
        [ngStyle]="{
          cursor: isLoading
            ? 'progress'
            : update.disabled
            ? 'not-allowed'
            : 'cursor'
        }"
      >
        Submit
      </button>
    </form>
  </mat-expansion-panel>
  }
</mat-accordion>

<form (submit)="addProduct()">
  <h1>
    <span>Add Product</span>
  </h1>
  <div>
    <input
      type="file"
      hidden
      #fileInput
      (change)="onFileSelected($event)"
      accept="image/*"
      multiple
    />
    <div
      style="
        width: 100%;
        height: 320px;
        border: solid 1px black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
      "
    >
      <img
        [src]="image"
        style="width: 240px; aspect-ratio: 2 / 2"
        alt="Product"
      />
      <button
        type="button"
        mat-raised-button
        class="submit-button"
        (click)="fileInput.click()"
      >
        Choose Image
      </button>
    </div>
  </div>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Name"
      required
      [formControl]="name"
      (blur)="updateErrorMessages()"
    />
    @if (name.invalid) {
    <mat-error>{{ errorMessages[0] }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input
      matInput
      type="number"
      placeholder="Price"
      required
      [formControl]="price"
    />
    @if (price.invalid) {
    <mat-error>{{ errorMessages[1] }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantity</mat-label>
    <input
      matInput
      number
      placeholder="Quantity"
      required
      [formControl]="quantity"
    />
    @if (quantity.invalid) {
    <mat-error>{{ errorMessages[2] }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input
      matInput
      number
      placeholder="Description"
      required
      [formControl]="description"
    />
    @if (description.invalid) {
    <mat-error>{{ errorMessages[3] }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-select
      matInput
      placeholder="Categories"
      class="select"
      [formControl]="category"
    >
      @for (category of categories; track category._id) {
      <mat-option [value]="category">
        <span>{{ category.name }}</span>
      </mat-option>
      }
    </mat-select>
    @if (category.invalid) {
    <mat-error>{{ errorMessages[4] }}</mat-error>
    }
  </mat-form-field>
  <mat-divider />
  <button
    mat-button
    #submit
    [ngClass]="{ disabled: submit.disabled }"
    [disabled]="
      name.invalid ||
      price.invalid ||
      quantity.invalid ||
      description.invalid ||
      category.invalid
    "
    [ngStyle]="{
      cursor: isLoading
        ? 'progress'
        : submit.disabled
        ? 'not-allowed'
        : 'cursor'
    }"
    class="submit-button"
  >
    {{ isLoading ? "Loading..." : "Submit" }}
  </button>
</form>
