<form (submit)="onSubmit($event)">
  <h1>
    <span>Login</span>
  </h1>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      [formControl]="email"
      (blur)="updateErrorMessages()"
      required
    />
    @if (email.invalid) {
    <mat-error>{{ emailErrorMessage }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" [formControl]="password" />
    @if (password.invalid) {
    <mat-error>{{ passwordErrorMessage }}</mat-error>
    }
  </mat-form-field>
  <mat-divider />
  <button
    mat-button
    [disabled]="email.invalid || password.invalid"
    [ngClass]="{ disabled: submit.disabled }"
    #submit
    class="submit-button"
  >
    Submit
  </button>
</form>
