.cart {
    width: 100%;
    min-height: calc(100vh - 120px);
    overflow: hidden;

    .container {
        min-height: calc(100vh - 120px);
        width: 100%;
        padding: 144px 40px 24px 40px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .scroll-container {
            width: 100%;
            overflow: scroll;
        }

        table {
            box-shadow: none;

            .product-container {
                padding: 40px 0;
                display: flex;
                align-items: center;
                gap: 32px;

                p {
                    margin: 0;
                }

                img {
                    width: 160px;
                }

            }

            .select {
                border: solid black 1px;
                padding: 8px 16px;
            }
        }

        .checkout-table {
            border: solid 1px black;
            padding: 32px;

            .checkout-button {
                width: 100%;
                margin-top: 32px;
                background-color: #db4444;
                color: #FFF;
                border: none;
                padding: 8px 16px;
                cursor: pointer;
                transition-duration: 0.25s;
                font-size: 16px;
    
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}