<section class="basket">
  <div class="container">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Cart
          <button
            class="icon-buttons"
            mat-icon-button
            [matBadge]="cartQuantity"
            matBadgePosition="after"
            matBadgeSize="small"
            matBadgeColor="warn"
          >
            <img src="../../../../assets/icons/cart.svg" alt="Cart" />
          </button>
        </ng-template>
        <app-cart
          [ELEMENT_DATA]="CART_ELEMENT_DATA"
          [ELEMENT_DATA_TWO]="CART_ELEMENT_DATA_TWO"
          [dataSource]="dataSource"
          [dataSourceTwo]="dataSourceTwo"
          (amountEmitter)="onAmountChange($event)"
          (removeEmitter)="onRemove($event)"
        ></app-cart>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Wishlist
          <button
            class="icon-buttons"
            mat-icon-button
            [matBadge]="wishlistQuantity"
            matBadgePosition="after"
            matBadgeSize="small"
            matBadgeColor="warn"
          >
            <img src="../../../../assets/icons/heart.svg" alt="WishList" />
          </button>
        </ng-template>
        <app-wishlist
          [ELEMENT_DATA]="WISHLIST_ELEMENT_DATA"
          (eventEmitter)="onMoveToCart($event)"
        ></app-wishlist>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
